---
import BaseLayout from "../layouts/BaseLayout.astro";
import AboutMeSection from "../components/AboutMeSection.astro";
import Artist from "../components/Artist.astro";
import { text } from '../lib/styles';
import { config } from "../lib/config";
---

<BaseLayout title="About me - Elias Uran" desc=`Hello! I'm Elias, ${config.age_prefix} ${config.age} year old IT consultant who loves building things.`>
  <div class="snap-y snap-mandatory h-screen overflow-y-scroll overflow-x-hidden">

    <AboutMeSection>
      <h1 class="font-semibold">I'm {config.age_prefix} {config.age} year old IT consultant who loves building things</h1>
    </AboutMeSection>

    <AboutMeSection>
      <h1 class="font-semibold">I also love music. Here are some of my favorite artists right now</h1>
      <div class="flex sm:flex-row flex-col sm:gap-12 gap-8">
        <Artist
          name="Roc Marciano" 
          artistId="5X0V59ipZnbvnubW0rQVri"
          imageSrc="https://i.scdn.co/image/ab676161000051747b3b1cd2bb89a3706592ec2e" 
        />

        <Artist
          name="Westside Gunn" 
          artistId="0ABk515kENDyATUdpCKVfW"
          imageSrc="https://i.scdn.co/image/ab676161000051745c37923fb58eead7ad4c0f1f" 
        />

        <Artist
          name="Meaningful Stone" 
          artistId="7EVlq3yUVHbHZZsaYSOcXt"
          imageSrc="https://i.scdn.co/image/ab67616100005174cefd8bc952024635511d6b8b" 
        />
      </div>
    </AboutMeSection>

    <AboutMeSection>
      <div>
        <span class="font-semibold">Contact me at: </span> 
        <a class={text.default} href="mailto:elias.uran@wemail.no" target="_blank">elias.uran@wemail.no</a>
      </div>
    </AboutMeSection>

  </div>
</BaseLayout>
