---
import { Icon } from "astro-icon/components";
import BaseLayout from "../layouts/BaseLayout.astro";
import { text } from "../lib/styles"
import { config } from "../lib/config";
---

<BaseLayout title="Elias Uran" desc=`Hello! I'm Elias, ${config.age_prefix} ${config.age} year old IT consultant who loves building things.`>
  <div class="w-full h-full flex flex-col gap-2 items-center justify-center px-10">
    <div>
      <h1 class="text-5xl font-semibold text-center">Hello! I'm Elias 👋</h1>
      <div class="flex justify-between">
        <div class="flex">
          {[
            { name: "mdi:github", href: "https://github.com/eliasuran" },
            { name: "mdi:linkedin", href: "https://www.linkedin.com/in/elias-uran-400590262/" }
          ].map((icon) => (
            <a target="_blank" aria-label={`Link to ${icon.href}`} href={icon.href}>
              <Icon
                name={icon.name}
                class={`text-5xl text-neutral-400 ${text.default}`}
              />
            </a>
          ))}
        </div>
        <div>
          {[
            { text: "Projects", href: "/projects" },
            { text: "About me", href: "/about-me" }
          ].map((item) => (
            <a 
              class={`flex items-center w-24 justify-between group hover:underline ${text.default}`} 
              href={item.href}
            >
              {item.text}
              <Icon class="group-hover:animate-bounceToRight" name="mdi:arrow-right" />
            </a>
          ))}
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
