---
export const prerender = false;

import BaseLayout from "../layouts/BaseLayout.astro";
import {
  getTopTracks,
  getTopArtists,
  getAccessToken,
  getCurrentlyPlaying,
} from "../lib/music";

import type { CurrentlyPlaying, Track, Artist } from "../lib/music";

const token = await getAccessToken();

const currentlyPlaying: CurrentlyPlaying | null =
  await getCurrentlyPlaying(token);

const tracks: Track[] = await getTopTracks(token);

const artists: Artist[] = await getTopArtists(token);
---

<BaseLayout
  title="music - eliasuran.dev"
  desc="what i'm currently listening to and my favorite artists and tracks"
>
  <div class="flex flex-col gap-4 my-8">
    {
      currentlyPlaying && (
        <>
          <a
            href={currentlyPlaying.href}
            class="relative sm:h-32 sm:w-96 w-52 h-96 rounded-md bg-base-200 shadow-md shadow-base-200 p-2 flex sm:flex-row flex-col gap-2"
          >
            <img
              src={currentlyPlaying.image}
              alt={`cover art for ${currentlyPlaying.image}`}
              class="aspect-square sm:w-32 w-full"
            />
            <div>
              <h3>Currently listening to: </h3>
              <h2 class="line-clamp-2 text-base-content text-xl">
                {currentlyPlaying.name}
              </h2>
              <p class="line-clamp-2">
                {currentlyPlaying.artists
                  .map((artist) => artist.name)
                  .join(", ")}
              </p>
              <img
                class="h-8 absolute right-2 bottom-2"
                src="https://cdn.7tv.app/emote/61d5b43904bac68e77cdf8db/4x.webp"
                alt="a rat jamming out"
              />
            </div>
          </a>
        </>
      )
    }

    <h1 class="text-base-content text-3xl">Top Tracks</h1>
    {
      tracks.map((track) => (
        <div class="flex sm:flex-row flex-col gap-2">
          <img
            src={track.album.images[0].url}
            alt={`Cover art for ${track.album} by ${track.artists}`}
            class="h-24 w-24"
          />
          <div class="sm:self-end self-start">
            <a
              href={track.external_urls.spotify}
              class="text-xl text-base-content"
            >
              {track.name}
            </a>
            <p>{track.artists.map((artist) => artist.name).join(", ")}</p>
          </div>
        </div>
      ))
    }
  </div>

  <div class="flex flex-col gap-4 my-8">
    <h1 class="text-base-content text-3xl">Top Artists</h1>
    {
      artists.map((artist) => (
        <div class="flex sm:flex-row flex-col gap-2">
          <img
            src={artist.images[0].url}
            alt={`Photo of ${artist.name}`}
            class="flex gap-2 h-24 w-24"
          />
          <a
            href={artist.external_urls.spotify}
            class="text-xl text-base-content sm:self-end self-start"
          >
            {artist.name}
          </a>
        </div>
      ))
    }
  </div>
</BaseLayout>
