---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getAccessToken, getTopTracks, getTopArtists } from "../lib/music";
const token = await getAccessToken();

import type { Track } from "../lib/music";
const tracks: Track[] = await getTopTracks(token);

import type { Artist } from "../lib/music";
const artists: Artist[] = await getTopArtists(token);
---

<BaseLayout
  title="Musikk - eliasuran.dev"
  desc="my favorite artists and tracks"
>
  <div class="flex flex-col gap-4 my-8">
    <h1 class="text-base-content text-3xl">Top Tracks</h1>
    {
      tracks.map((track) => (
        <div class="flex sm:flex-row flex-col gap-2">
          <img
            src={track.album.images[0].url}
            alt={`Cover art for ${track.album} by ${track.artists}`}
            class="h-24 w-24 aspect-square"
          />
          <div class="sm:self-end self-start">
            <a
              href={track.external_urls.spotify}
              class="text-xl text-base-content"
            >
              {track.name}
            </a>
            <p>{track.artists.map((artist) => artist.name).join(", ")}</p>
          </div>
        </div>
      ))
    }
  </div>

  <div class="flex flex-col gap-4 my-8">
    <h1 class="text-base-content text-3xl">Top Artists</h1>
    {
      artists.map((artist) => (
        <div class="flex sm:flex-row flex-col gap-2">
          <img
            src={artist.images[0].url}
            alt={`Photo of ${artist.name}`}
            class="flex gap-2 h-24 w-24"
          />
          <a
            href={artist.external_urls.spotify}
            class="text-xl text-base-content sm:self-end self-start"
          >
            {artist.name}
          </a>
        </div>
      ))
    }
  </div>
</BaseLayout>
